<div class="album">
    <div class="grid wide">
        <div class="row sm-gutter">
            <div class="col l-2-4">
                <a href="" class="album_category">
                    <img src="asset/img/album1.jpg" alt="" class="album_category_img">
                </a>
            </div>
            <div class="col l-4-4">
                <a href="" class="album_category">
                    <img src="asset/img/album2.jpg" alt="" class="album_category_img">
                </a>
                <div class="row sm-gutter">
                    <div class="col l-6">
                        <a href="" class="album_category">
                            <img src="asset/img/album3.jpg" alt="" class="album_category_img">
                        </a>
                    </div>
                    <div class="col l-6">
                        <a href="" class="album_category">
                            <img src="asset/img/album4.jpg" alt="" class="album_category_img">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col l-4-4">
                <a href="" class="album_category">
                    <img src="asset/img/album5.jpg" alt="" class="album_category_img">
                </a>
                <div class="row sm-gutter">
                    <div class="col l-6">
                        <a href="" class="album_category">
                            <img src="asset/img/album6.jpg" alt="" class="album_category_img">
                        </a>
                    </div>
                    <div class="col l-6">
                        <a href="" class="album_category">
                            <img src="asset/img/album7.jpg" alt="" class="album_category_img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
