<footer>
    <div class="store">
        <div class="grid wide">
            <div class="row">
                <div class="col l-12">
                    <div class="store_border_top">
                    </div>
                    <div class="store_label">
                        <a href="" class="store_label_link">Hệ thống cửa hàng</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l-7">
                    <img src="asset/img/map.jpg" alt="" class="store_img">

                </div>
                <div class="col l-5">
                    <form action="">
                        <select name="" id="" class="store_select">
                            <option value="" class="store_option">tất cả</option>
                        </select>
                    </form>
                    <div class="store_container">
                        <div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="store_wrap">
                            <div class="row">
                                <div class="col l-1">
                                    <i class="fa fa-map-marker store_icon"></i>
                                </div>
                                <div class="col l-11">
                                    <div class="store_body">
                                        <span class="store_name">CHTT Lê Văn Sỹ</span>
                                        <span class="store_address">Địa chỉ: 368-370 Lê Văn Sỹ, P.2, Q.Tân Bình, TP,HCM</span>
                                        <span class="store_phone">SĐT: 028.3991.4785</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="hashtag">
        <div class="grid">
            <div class="row">
                <div class="col l-12">
                    <div class="hashtag_wrap">
                        <span class="hashtag_heading">
                            HASHTAG <a href="" class="hashtag_link">BITIS</a> ĐỂ CÓ CƠ HỘI XUẤT HIỆN TRÊN WEBSITE CỦA CHÚNG TÔI
                        </span>
                        <ul class="hashtag_list">
                            <li class="hashtag_item">
                                <a href="" class="hashtag_item_link">
                                    <img src="asset/img/hashtag1.jpg" alt="" class="hashtag_item_img">
                                </a>
                            </li>
                            <li class="hashtag_item">
                                <a href="" class="hashtag_item_link">
                                    <img src="asset/img/hashtag2.jpg" alt="" class="hashtag_item_img">
                                </a>
                            </li>
                            <li class="hashtag_item">
                                <a href="" class="hashtag_item_link">
                                    <img src="asset/img/hashtag3.jpg" alt="" class="hashtag_item_img">
                                </a>
                            </li>
                            <li class="hashtag_item">
                                <a href="" class="hashtag_item_link">
                                    <img src="asset/img/hashtag4.jpg" alt="" class="hashtag_item_img">
                                </a>
                            </li>
                            <li class="hashtag_item">
                                <a href="" class="hashtag_item_link">
                                    <img src="asset/img/hashtag5.jpg" alt="" class="hashtag_item_img">
                                </a>
                            </li>
                            <li class="hashtag_item">
                                <a href="" class="hashtag_item_link">
                                    <img src="asset/img/hashtag6.jpg" alt="" class="hashtag_item_img">
                                </a>
                            </li>
                            <li class="hashtag_item">
                                <a href="" class="hashtag_item_link">
                                    <img src="asset/img/hashtag7.jpg" alt="" class="hashtag_item_img">
                                </a>
                            </li>
                            <li class="hashtag_item">
                                <a href="" class="hashtag_item_link">
                                    <img src="asset/img/hashtag8.jpg" alt="" class="hashtag_item_img">
                                </a>
                            </li>
                            <li class="hashtag_item">
                                <a href="" class="hashtag_item_link">
                                    <img src="asset/img/hashtag9.jpg" alt="" class="hashtag_item_img">
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="email">
        <div class="grid wide">
            <div class="row no-gutters">
                <div class="col l-5">
                    <span class="email_heading">
                        ĐĂNG KÝ EMAIL ĐỂ NHẬN THÊM NHIỀU THÔNG TIN MỚI TỪ BITI’S
                    </span>
                </div>
                <div class="col l-7">
                    <div class="email_wrap">
                        <input type="text" class="email_input" placeholder="Nhập Email của bạn ...">
                        <button class="email_btn">
                            <i class="fa fa-location-arrow email_icon"></i>
                            <span class="email_text">ĐĂNG KÝ</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_top">
        <div class="grid wide">
            <div class="row ">
                <div class="col l-3">
                    <div class="footer_top_wrap">
                        <h3 class="footer_top_heading">Trợ Giúp</h3>
                        <ul class="footer_top_list">
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Trạng thái đơn hàng</a>
                            </li>
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Hình thức giao hàng</a>
                            </li>
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Hình thức thanh toán</a>
                            </li>
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Chính sách đổi trả</a>
                            </li>
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Chính sách bảo hành</a>
                            </li>
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Chính sách khách hàng thân thiết</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col l-2">
                    <div class="footer_top_wrap">
                        <h3 class="footer_top_heading">Thông tin</h3>
                        <ul class="footer_top_list">
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Tuyển Dụng</a>
                            </li>
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Hệ thống cửa hàng</a>
                            </li>
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Liên hệ hợp tác</a>
                            </li>
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Q&A</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col l-3">
                    <div class="footer_top_wrap">
                        <h3 class="footer_top_heading">Về Biti's</h3>
                        <ul class="footer_top_list">
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Về Biti's</a>
                            </li>
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Câu chuyện Biti's</a>
                            </li>
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Bước tiến phát triển</a>
                            </li>
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Hoạt Động</a>
                            </li>
                            <li class="footer_top_item">
                                <a href="" class="footer_top_link">Liên hệ</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col l-4">
                    <div class="footer_top_wrap">
                        <div class="footer_top_logo">
                            <a href="" class="footer_top_logo_link">
                                <img src="asset/img/logo_bitis.png" alt="" class="footer_top_img">
                            </a>
                        </div>
                        <p class="footer_top_name">CÔNG TY TNHH SẢN XUẤT HÀNG TIÊU DÙNG BÌNH TIÊN</p>
                        <p class="footer_top_text">
                            <b>Địa chỉ:</b> 22 Lý Chiêu Hoàng, Phường 10, Quận 6, TP HCM
                        </p>
                        <p class="footer_top_text">
                            <b>SĐT:</b> (028) 38 753 443
                        </p>
                        <p class="footer_top_text">
                            <b>Email:</b> Liên hệ các vấn đề về đặt hàng online : tuvan_online@bitis.com.vn
                        </p>
                        <p class="footer_top_text">
                            <b>Email:</b> Liên hệ các vấn đề về kênh cửa hàng, đại lý (offline) : chamsockhachhang@bitis.com.vn
                        </p>
                        <p class="footer_top_text">
                            <b>Email:</b> Liên hệ các vấn đề về kênh cửa hàng, đại lý (offline) : chamsockhachhang@bitis.com.vn
                        </p>
                        <p class="footer_top_text">
                            <b>Hotline : 19002126</b> ( cước phí: 3000đ/phút )
                        </p>
                        <p class="footer_top_text">
                            Thời gian tư vấn: Từ 07h30 đến 12h15, 13h15 đến 21h30 các ngày trong tuần ( Trừ ngày Lễ, Tết)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_bottom">
        <div class="grid wide">
            <div class="row">
                <div class="col l-6">
                    <div class="footer_bottom_wrap">
                        <ul class="footer_bottom_list">
                            <li class="footer_bottom_item">
                                <a href="" class="footer_bottom_link">Điều khoản</a>
                            </li>
                            <li class="footer_bottom_item">
                                <a href="" class="footer_bottom_link">Chính Sách Bảo Mật</a>
                            </li>
                            <li class="footer_bottom_item">
                                <a href="" class="footer_bottom_link">Hướng dẫn sử dụng</a>
                            </li>
                        </ul>
                        <p class="footer_bottom_Copyright">
                            © Copyright Bitis.com.vn. Powered by <a href="" class="footer_bottom_Copyright_link">Haravan Enterprise.</a>
                        </p>
                    </div>
                </div>
                <div class="col l-2">
                    <a href="" class="footer_bottom_logo_link">
                        <img src="asset/img/dadangky.png" alt="" class="footer_bottom_logo">
                    </a>
                </div>
                <div class="col l-4">
                    <p class="footer_bottom_text">
                        Giấy CNĐKDN: 0301340497 được cấp ngày 20/01/1992, <br>
                        được sửa đổi lần thứ 20 ngày 28/12/2015 bởi Sở Kế hoạch và Đầu tư TPHCM
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
@code {

}
