@inherits LayoutComponentBase

<div class="page">
   

    <div class="main">
        <div>
            <Header />
        </div>


        <div class="">
            @Body
        </div>
        
    </div>
</div>
