@page "/"
@inherits HomeBase


<div>
    <Silider />
</div>

<div>
    <Album />
</div>




@if (Products == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="grid wide">
        <div class="row no-gutters">

            @foreach (var Product in Products)
            {
                <DisplayProduct Product="Product" ShowFooter="ShowFooter">
                </DisplayProduct>
            }

        </div>
    </div>
}

<div>
    <Footer />
</div>
